@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --font-hebrew: "Noto Serif Hebrew", serif;
  --font-heading: "Playfair Display","Noto Serif Hebrew"  ,serif;
  --font-body: "Lora", "Noto Serif Hebrew", serif;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  letter-spacing: 0.02em;
}

body {
  background: var(--background);
  font-family: var(--font-body), var(--font-hebrew), sans-serif;
  color: var(--foreground);
  line-height: 1.6;
}
